.imgclass {
    display: flex;
    max-width:100%;
}


.navcontainer {
    display: grid;
    grid-template-columns: 10% 65% 25%;
    width: 100%;
    max-height: 1%;
    justify-content: space-between;
}

.searchimg {
    min-width: 50px;
    max-height: 50px;
    object-fit: cover;
}

.heartimg {
    min-width: 50px;
    max-height: 50px;
    object-fit: cover;
}

.cartimg {
    min-width: 50px;
    max-height: 50px;
    object-fit: cover;
}

.topnav {
    padding: 1%;
    width: 100%;
    text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}

.LinkStyle{
text-decoration: none;
font-size: large;
color: black;
}

.LinkStyle:hover{
    color: chocolate;
    font-size: larger;
}
.lowernav {
    border: 1px solid black;
    text-align: center;
    width: 100%;
    background-color: rgb(193, 196, 199);
}

.logoContainer {
    display: inline-block;
}

.logoContainer:hover{
  background-color: rgb(243, 146, 27);
}
.CatagoryNav {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    margin-top: 1%;
}

.searchbar {
    margin-top: 3%;
    border-radius: 20px;
    width: 160px;
    height: 50%;
    background-color: rgb(234, 236, 238);
}

.navbuttons{
    border:none;
}
.navbuttons:hover{
    background-color: grey;
}
.carouselDesign{
    display: flex;
    width:50%;
    overflow-x: scroll;
}

.silderContainerContainer{
    display: flex;
    max-width: 100%;
    max-height: 90%;
    justify-content: center;
    border: 5px solid red;
}
.silderContainer{
    display: flex;
    max-width: 50%;
    max-height: 50%;
    justify-content: center;
    border: 5px solid rgb(44, 0, 201);
}
.silderImg{
    object-fit: cover;max-width: 100px;max-height: 100px;
}

.overallContainer{
    max-width: 100%;
    max-height: 100%;
    padding: 1%;

}